@page
@using BikeshareClient.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Oslo Bysykkel</h1>

<h2>Stations</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Latitude</th>
       <th scope="col">Longitude</th>
       <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
@foreach (var Station in ViewData["Stations"] as IEnumerable<Station>)
{
    <tr>
      <th scope="row">@Station.Id</th>
      <td>@Station.Name</td>
      <td>@Station.Address</td>
      <td>@Station.Latitude</td>
      <td>@Station.Longitude</td>
      <td>@Station.Capacity</td>
    </tr>
}
  </tbody>
</table>

</div>
