@page
@using BikeshareClient.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@ViewData["serializedData"]
<style>
    .marker {
        /*background-image: url('mapbox-icon.png');*/
        /*background-image: bi-bicycle;*/
        background-color: grey;
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
    }

    .mapboxgl-popup {
        max-width: 200px;
    }

    .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
</style>
<h3>Map</h3>

<div id='map' style='width: 1000px; height: 400px;'></div>
<script>

    const geojson1 = {
      type: 'FeatureCollection',
      features: [
        {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [10.776072,59.911453]
          },
          properties: {
            title: 'Sommerfrydhagen',
            Address: 'Sommerfrydhagen',
            capacity: '¨10',
            DocksAvailable: '200'
          }
        },
        {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [10.766171,59.923229]
          },
          properties: {
            title: 'Sofienbergparken nord',
            Address: 'Helgesens Gate 26A',
            capacity: '50',
            DocksAvailable: '1000'
          }
        }
      ]
    };

    const geojson2 = @ViewData["serializedData"];
    console.log(geojson1);
    console.log(geojson2);

        mapboxgl.accessToken = 'pk.eyJ1Ijoid2FycmVkYiIsImEiOiJja3o4OHI3cGMwdDM1MnVtdWZpNDlraGoyIn0.pmnqIRMaBQV8V5dKnClK0w';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [10.724801,59.918844],
            zoom: 11
        });

    // add markers to map
    for (const feature of geojson2.features) {
        // create a HTML element for each feature
        const el = document.createElement('div');
        el.className = 'marker bi bi-bicycle';

        // make a marker for each feature and add it to the map
        new mapboxgl.Marker(el)
        .setLngLat(feature.geometry.coordinates)
        .setPopup(
            new mapboxgl.Popup({ offset: 25 }) // add popups
            .setHTML(`<h3>${feature.properties.title}</h3><p>${feature.properties.Address}</br>Capacity:${feature.properties.capacity}</br>Available:${feature.properties.DocksAvailable}</p>`)
        )
        .addTo(map);
    }
</script>

<div class="text-center">
    <h1 class="display-4">Oslo Bysykkel</h1>

    <h2>Stations</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Capacity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Station in ViewData["Stations"] as IEnumerable<Station>)
            {
                <tr>
                    <th scope="row">@Station.Id</th>
                    <td>@Station.Name</td>
                    <td>@Station.Address</td>
                    <td>@Station.Latitude</td>
                    <td>@Station.Longitude</td>
                    <td>@Station.Capacity</td>
                </tr>
            }
        </tbody>
    </table>
</div>

